BASE_URL=http://127.0.0.1:6006
STORYBOOK_IFRAME_PATH=/iframe.html
STORY_ID=components-navbar--default
STORY_WITH_CHILDREN_ID=components-navbar--with-children
HEADLESS=true
VIEWPORT_WIDTH=1440
VIEWPORT_HEIGHT=900
MOBILE_VIEWPORT_WIDTH=390
MOBILE_VIEWPORT_HEIGHT=844
LOGIN_B2B_URL=https://b2b.autoavaliar.com.br/
GEO_UF=GO
IP_UF=RJ
DEFAULT_UF=SP
